/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-main);
  background-image: var(--bg-image);
  font-variation-settings: "wght" var(--font-main-weight-title);
  background-size: cover;
  background-attachment: fixed;
}

.section-size {
  margin-inline: clamp(0px, (100vw - 700px) / 2, 370px);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: clamp(327px, 3.85vw + 312.56px, 368px);
  margin-block: 100px;
  background-color: var(--bg-color);
  border: var(--page-border);
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title, .header__description {
  font-family: var(--font-accent);
  font-weight: 400;
  text-align: center;
}

.header__title {
  font-size: clamp(49px, 30.54px + 4.923vw, 65px);
}

.header__description {
  font-size: clamp(14px, 11px + 0.85vw, 23px);
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.article {
  border: var(--page-border);
  background-color: var(--bg-color);
}

.article__title {
  font-size: 18px;
  padding: 4px 10px 6px;
  font-variation-settings: "wght" var(--font-main-weight-title);
  border-block-end: var(--page-border);
}

.card {
  position: relative;
  display: block;
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-sepia {
  filter: sepia(60%);
}

.filter-blur {
  filter: blur(3px);
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-brightness {
  filter: brightness(120%);
}

.filter-invert {
  filter: invert(100%)
}

.filter-multi {
  filter: brightness(80%) grayscale(70%) saturate(130%);
}

.card__label {
  display: inline-block;
  position: absolute;
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: 400;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 
    -1px 0 var(--bg-color),
    0 1px var(--bg-color), 
    1px 0 var(--bg-color), 
    0 -1px var(--bg-color);
}

.card__description {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--font-main-weight-text);
  font-size: 18px;
  line-height: 21px;
  padding: 25px;
  gap: 25px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-block-end: 25px;
  padding-inline-end: 25px;
  gap: 7px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  block-size: 38px;
  inline-size: 38px;
}

.like-icon {
  cursor: pointer;
  transform-origin: center;
  height: 36px;
  width: 39px;
  flex-shrink: 0;
}

.button {
  position: relative;
  border: var(--page-border);
  background: transparent;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
  box-shadow: var(--button-shadow);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding-block: 12px;
}

.button__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  z-index: 1;
  text-align: center;
}

.button__text, .floppy-icon {
  position: relative;
  color: var(--button-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.page__save-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 50px;
  padding-block-end: 100px;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  block-size: 55px;
  gap: 8px;
  background-color: var(--bg-color);
}

dialog {
  display: none;
  padding: 0;
}

dialog[open] {
  display: flex;
  padding: 0;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
}

.dialog__content {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 30px;
  padding: 30px;
}

.dialog__message {
  display: flex;
  align-items: center;
  inline-size: 100%;
  gap: 20px;
}

.dialog__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  inline-size: 234px;
  text-transform: uppercase;
}

.dialog-button {
  padding-block: 12px;
  block-size: 38px;
  inline-size: 100%;
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    block-size: 84px;
  }
  .save-button .floppy-icon {
    width: 28px;
    height: 28px;
  }
  .dialog__content {
    padding: 30px 40px;
  }
}